@import '../../../scss/colors';
@import '../../../scss//styleVars';

.code-container {
  background-color: rgb(26, 26, 26);
  padding: 0.5rem;
  color: white;
  width: 15rem;
  overflow: scroll;
  border-radius: $border-radius;

  code {
    color: $code-green;
  }
}
