@import '../../scss/colors';
@import '../../scss/constants';

.sidebar {
  background-color: $sidebar;
  width: 15rem;
  padding: 1rem;
  text-align: right;
  color: #fff;
  transition: transform 0.3s ease;
  box-shadow: $box-shadow;
}

.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($accent, 0.9);
  padding-top: 45px;
  border-bottom-right-radius: $border-radius;
  z-index: 1;
}

.sidebar-hidden {
  transform: translateX(-15rem);
}

@media (min-width: 701px) {
  .sidebar {
    transition: none;
  }
}
