@import '_buttons';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.app {
  height: 100vh;
  display: flex;
}

nav {
  align-self: flex-end;
  margin: 1rem 0;
  display: flex;
  > * {
    margin: 1rem;
    text-decoration: none;
    color: rgb(255, 87, 87);
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2rem 0;
  > * {
    margin: 0 1rem;
  }
}
