@import '../../scss/colors';

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .circle {
    $diameter: 65px;

    height: $diameter;
    width: $diameter;
    border-radius: 50%;
    border-top: 4px solid $accent;
    border-bottom: 4px solid $accent;
    clip-path: polygon(20% 0%, 80% 0%, 20% 100%, 80% 100%);
    animation: spin 0.5s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
    }
  }
}
